#profile-page-container{
    display: flex;
    flex-direction: row;
    padding-block: 60px;
    flex-wrap: wrap;

}

#profile-columns{
    display: flex;
    flex-direction: column;
    width: 33%;
}

#profile-card{
    display: flex;
    flex-direction: column;
    padding-inline: 70px;
    padding-block: 20px;
}

#profile-options{
    display: flex;
    flex-direction: column;
    padding-block: 10px;
}

#profile-information{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 50px;
}

#profile-names{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
}

#profile-picture{
    aspect-ratio: 1/1;

    border-radius: 50%;
    border-width: thick;
    border-style: solid;
    border-color: var(--primary-color);
    
    background-color: var(--background-light);

}

#a{
    width: 90%;
}

.profile-table.header{
    display: flex;
}

.profile-option.icon{
    height: 30px;
    margin-inline: 30px;
    margin-block: 10px;
    filter: var(--svg-filter);
}

.text-form{
    display: flex;
    border-style: solid;
    border-color: var(--primary-color);
    width: 100%;
    font-family: var(--body-font);
    aspect-ratio: 6/1;
    background-color: var(--background-color);
    border-radius: 4px;

}

#edit-profile-button{
    justify-content: center;
    padding-block: 20px;
}

#profile-picture-big{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border-width: thick;
    border-style: solid;
    border-color: var(--primary-color);
    background-color: var(--background-light);
}